body {
    text-align: center;
}

.add_new {
    margin-top: 20px;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr) repeat(2, 0.5fr);
}

.header {
    border-block: 2px solid black;
}

form {
    display: grid;
    align-items: center;
    grid-template-rows: repeat(3, 50px) repeat(2, 30px);
}

input:focus {
    outline: none;
}

span {
    margin: 0;
    color: red;
    display: block;
    font-size: 10px;
}

#status, #remove {
    width: 5rem;
    text-align: center;
    justify-self: center;
}

#remove {
    width: 2rem;
    font-size: 10px;
}